@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;
  }
  @keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
  }
  
  .animate-bounce {
    animation: bounce 1s infinite;
  }
  
  .delay-100 { animation-delay: 0.1s; }
  .delay-200 { animation-delay: 0.2s; }
  .delay-300 { animation-delay: 0.3s; }
  .delay-400 { animation-delay: 0.4s; }
  .delay-500 { animation-delay: 0.5s; }
  .delay-600 { animation-delay: 0.6s; }
  .delay-700 { animation-delay: 0.7s; }
  .delay-800 { animation-delay: 0.8s; }
  .delay-900 { animation-delay: 0.9s; }
  .fade-enter {
    opacity: 0;
    transform: translateY(20px);
  }
  .fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 500ms ease-in;
  }
  .fade-exit {
    opacity: 1;
    transform: translateY(0);
  }
  .fade-exit-active { 
    opacity: 0;
    transform: translateY(-20px);
    transition: all 500ms ease-out;
  }

  .main-text{
    animation: textEffect 1s linear;
    transition: all;
  }

  @keyframes textEffect {
    from{
      transform: scale(0.7);
      opacity: 0.1;
    }
    to{
      transform: scale(1);
      opacity: 1;
    }
  }
  /* .slide {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }
  @keyframes appear {
    from{
      transform: scale(0.6);
    }
    to{
      transform: scale(1);
      
    }
  } */
.navBtn:hover{
  color: white;
}

  .navBtn::before{
    content: "";
    background-color: rgb(68, 68, 236);
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
    transition: width 0.3s ease-in-out;
    z-index: -1;
  }
 .navBtn:hover::before{
      width: 100%; 
  }

  .display-chat{
     animation: show 0.5s ease-in-out;
     transition: all 0.5s ease-in-out;
  }

  @keyframes show {
    from{
      transform: scale(0.6);
    }
    to{
      transform: scale(1);
    }
  }