@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;
  }
  @keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
  }
  
  .animate-bounce {
    animation: bounce 1s infinite;
  }
  
  .delay-100 { animation-delay: 0.1s; }
  .delay-200 { animation-delay: 0.2s; }
  .delay-300 { animation-delay: 0.3s; }
  .delay-400 { animation-delay: 0.4s; }
  .delay-500 { animation-delay: 0.5s; }
  .delay-600 { animation-delay: 0.6s; }
  .delay-700 { animation-delay: 0.7s; }
  .delay-800 { animation-delay: 0.8s; }
  .delay-900 { animation-delay: 0.9s; }
  .fade-enter {
    opacity: 0;
    transform: translateY(20px);
  }
  .fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 500ms ease-in;
  }
  .fade-exit {
    opacity: 1;
    transform: translateY(0);
  }
  .fade-exit-active { 
    opacity: 0;
    transform: translateY(-20px);
    transition: all 500ms ease-out;
  }

  .main-text{
    animation: textEffect 1s linear;
    
    transition: all;
  }

  @keyframes textEffect {
    from{
      transform: scale(0.7);
      opacity: 0.1;
    }
    to{
      transform: scale(1);
      opacity: 1;
    }
  }
  .slide {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }
  @keyframes appear {
    from{
      transform: scale(0.6);
    }
    to{
      transform: scale(1);
      
    }
  }

  /* In your main CSS file or global styles */
* {
  --tw-gradient-from: initial !important;
  --tw-gradient-to: initial !important;
  --tw-gradient-stops: initial !important;
}
